<div class="well actions">
  <button class="btn btn-default pull-right" ng-click="refresh()"><i class="glyphicon glyphicon-refresh"></i>重置过滤条件</button>
  <search-filter on-click="fetchRegs()" ng-model="params.key" search-type="params.key_type"></search-filter>
  <hr>
  <div class="filters">
    <form action="" class="form-inline">
      <div class="form-group">
        <label for="follow">重要度</label>
        <select class="form-control" ng-model="params.important" ng-change="fetchRegs()">
          <option value="">全部</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="none">未设置</option>
        </select>
      </div>

      <div class="form-group">
        <label for="follow">负责销售</label>
        <select class="form-control" ng-model="params.user_id" ng-options="seller.user_id as seller.name for seller in sellers" ng-change="fetchRegs()">
          <option value="">请选择销售</option>
        </select>
      </div>

      <div class="form-group">
        <label>所在区域</label>
        <select class="form-control" ng-model="params.region_ids" ng-change="fetchRegs()"
                ng-options="k as v for (k, v) in MAP.regions">
          <option value="">所有区域</option>
        </select>
      </div>

      <div class="form-group">
        <div class="input-group input-daterange">
          <div class="input-group-btn" dropdown>
            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>{{dateType === 'last_buy_time' ? '购买时间' : '联系时间'}} <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="dateType = 'last_buy_time'">购买时间</a></li>
              <li><a ng-click="dateType = 'contact'">联系时间</a></li>
            </ul>
          </div>
          <input date-range-picker class="form-control date-picker" type="text" ng-model="daterange" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="fetchRegs()">筛选</button>
          </span>
        </div><!-- /input-group -->
      </div>

    </form>
  </div>
</div>


<div class="content">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>客户名称</th>
        <th>云存储帐号</th>
        <th>所在地区</th>
        <th>帐号类型</th>
        <th>引入方式</th>
        <th>帐号状态</th>
        <th>重要度</th>
        <th>负责人</th>
        <th>最近购买时间</th>
        <th>最近联系时间</th>
        <th>自动丢弃时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="client in clients.clients">
        <td>{{client.name}}</td>
        <td>{{client.account_name}}</td>
        <td>{{client.region}}</td>
        <td>{{client.account_type === 'personal' ? '个人' : '企业'}}</td>
        <td>{{client.call_type}}</td>
        <td>{{MAP.account_status[client.account_status]}}</td>
        <td>{{client.important}}</td>
        <td>{{client.sell_name}}</td>
        <td>{{client.last_buy_time ? client.last_buy_time * 1000 : '-' | date: 'yyyy-MM-dd'}}</td>
        <td>{{client.last_contacted_at ? client.last_contacted_at * 1000 : '-' | date: 'yyyy-MM-dd'}}</td>
        <td>{{client.auto_drop_at ? client.auto_drop_at * 1000 : '-' | date: 'yyyy-MM-dd'}}</td>
        <td>
          <button class="btn btn-xs btn-default" ng-click="go('clients.registed_detail', {id: client.account_id})">查看</button>
          <a class="btn btn-xs btn-default" ui-sref="business.orders({account_name: client.account_name})">订单</a>
        </td>
      </tr>
    </tbody>
  </table>

  <nav class="pull-right">
    <ul class="pagination">
      <li ng-class="{ disabled: !clients.page.since}"><a ng-click="prev()"><span aria-hidden="true">&laquo;前一页</span><span class="sr-only">前一页</span></a></li>
      <li ng-class="{ disabled: !clients.page.max}"><a ng-click="next()"><span aria-hidden="true">后一页&raquo;</span><span class="sr-only">后一页</span></a></li>
    </ul>
  </nav>
</div>
