<div class="well actions">
  <button class="btn btn-default pull-right" ng-click="vm.refresh()">
    <i class="glyphicon glyphicon-refresh"></i>重置过滤条件
  </button>
  <div class="form-inline row">
    <div class="col-md-5">
      <search-filter on-click="vm.fetchTrans()" ng-model="vm.params.value" search-type="vm.params.key" label="按账号、账单编号搜索" options="{extraKeyType: ['bill_id']}"></search-filter>
    </div>
    <div class="col-md-5">
      <div class="input-group input-daterange col-md-5">
        <span class="input-group-addon">
          扣款时间
        </span>
        <input date-range-picker
               class="form-control date-picker"
               type="text"
               ng-model="vm.dateRange"/>
      </div>
    </div>
  </div>
  <hr>
  <div class="filters">
    <form class="form-inline">
      <div class="form-group">
        <label>所属公司</label>
        <select class="form-control"
                ng-model="vm.params.company"
                ng-options="company.type as company.name for company in vm.companys">
          <option value="">全部</option>
        </select>
      </div>
      <div class="form-group">
        <label>归属区域</label>
        <select class="form-control"
                ng-model="vm.params.region_id"
                ng-options="region.key as region.value for region in vm.regions">
          <option value="">所有区域</option>
        </select>
      </div>
      <div class="form-group">
        <label>负责人</label>
        <select class="form-control"
                ng-model="vm.params.user_id"
                ng-options="seller.user_id as seller.name for seller in vm.sellers">
          <option value="">{{vm.defaultUserLabel}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>账号类型</label>
        <select class="form-control"
                ng-model="vm.params.account_type"
                ng-options="k as v for (k,v) in MAP.account_type">
          <option value="">全部</option>
        </select>
      </div>
      <hr/>
      <div class="from-group">
        <label>收入类型</label>
        <div class="radio-inline c-radio">
          <label>
            <input type="radio" ng-model="vm.params.bill_type" ng-value="'DAILY'" >
            <span class="fa fa-circle"></span>日账单扣款
          </label>
        </div>
        <div class="radio-inline c-radio">
          <label>
            <input type="radio" ng-model="vm.params.bill_type" ng-value="'MONTHLY'">
            <span class="fa fa-circle"></span>月账单扣款
          </label>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>账单编号</th>
        <th>客户名称</th>
        <th>云存储账号</th>
        <th>负责人</th>
        <th>服务费用（元）</th>
        <th>优惠金额（元）</th>
        <th>扣款金额（元）</th>
        <th>返赠减免（元）</th>
        <th>实收金额（元）</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="transData in vm.transData.list">
        <td><a ui-sref="finance.bills.detail({id: transData.bill_id})">{{transData.bill_id}}</a></td>
        <td>{{transData.client_name}}<i class="glyphicon glyphicon-flag text-muted" tooltip-placement="right" tooltip="合同客户" ng-show="transData.is_pact"></i></td>
        <td><a ui-sref="clients.public_reg_detail({id: transData.account_name})" target="_blank">{{transData.account_name}}</a></td>
        <td>{{transData.user_name}}</td>
        <td>{{transData.total | number : 2}}</td>
        <td>{{transData.discount | number : 2}}</td>
        <td>{{transData.invoice | number : 2}}</td>
        <td>{{transData.bonus_cut | number : 2}}</td>
        <td>{{transData.earn | number : 2}}</td>
      </tr>
      <tr>
        <td colspan="4" class="text-center">本页合计</td>
        <td>{{vm.pageTotal.total |  number : 2}}</td>
        <td>{{vm.pageTotal.discount |  number : 2}}</td>
        <td>{{vm.pageTotal.invoice |  number : 2}}</td>
        <td>{{vm.pageTotal.bonus_cut |  number : 2}}</td>
        <td>{{(vm.pageTotal.earn | number : 2) || '-'}}</td>
      </tr>
      <tr>
        <td colspan="4" class="text-center">查询合计</td>
        <td>{{vm.transData.total_statistics.total | number : 2}}</td>
        <td>{{vm.transData.total_statistics.discount | number : 2}}</td>
        <td>{{vm.transData.total_statistics.invoice | number : 2}}</td>
        <td>{{vm.transData.total_statistics.bonus_cut | number : 2}}</td>
        <td>{{vm.transData.total_statistics.earn | number : 2}}</td>
      </tr>
      </tbody>
    </table>

    <nav class="pull-right">
      <pagination total-items="vm.totalItems"
              items-per-page="vm.size"
              ng-model="vm.page_num_to_go"
              max-size="5"
              class="pagination-sm"
              boundary-links="true"
              rotate="false"
              first-text="首页"
              last-text="尾页"
              previous-text="前一页"
              next-text="后一页">
      </pagination>
    </nav>
  </div>
</div>
