<form ng-submit="vm.submit()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.skip()">&times;</button>
    <h4 class="text-success">审核未通过</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>审核未通过原因：</label>
      <textarea  class="form-control" cols="5" rows="5" placeholder="请填写审核拒绝原因" ng-model="vm.params.reject_reason" required></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn btn-sm btn-link" ng-click="vm.skip()">取消</a>
    <button class="btn btn-sm btn-primary" type="submit">确定</button>
  </div>
</form>