<div class="well actions">
  <button class="btn btn-default pull-right" ng-click="vm.refresh()">
    <i class="glyphicon glyphicon-refresh"></i>重置过滤条件
  </button>
  <div class="form-inline row">
    <div class="col-md-5">
      <search-filter on-click="vm.fetchTrans()" ng-model="vm.params.value" search-type="vm.params.key" label="按账号、充值编号搜索" options="{extraKeyType: ['order_id']}"></search-filter>
    </div>
    <div class="col-md-5">
      <div class="input-group input-daterange col-md-5">
        <span class="input-group-addon">
          充值时间
        </span>
        <input date-range-picker
               class="form-control date-picker"
               type="text"
               ng-model="vm.dateRange"
               ng-change="vm.fetchTrans()"/>
      </div>
    </div>
  </div>
  <hr>
  <div class="filters">
    <form class="form-inline">
      <div class="form-group">
        <label>所属公司</label>
        <select class="form-control"
                ng-model="vm.params.company"
                ng-options="company.type as company.name for company in vm.companys"
                ng-change="vm.updateView('company')">
          <option value="">全部</option>
        </select>
      </div>
      <div class="form-group">
        <label>归属区域</label>
        <select class="form-control"
                ng-model="vm.params.region_id"
                ng-options="region.key as region.value for region in vm.regions">
          <option value="">所有区域</option>
        </select>
      </div>
      <div class="form-group">
        <label>负责人</label>
        <select class="form-control"
                ng-model="vm.params.user_id"
                ng-options="seller.user_id as seller.name for seller in vm.sellers">
          <option value="">{{vm.defaultUserLabel}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>账号类型</label>
        <select class="form-control"
                ng-model="vm.params.account_type"
                ng-options="k as v for (k,v) in MAP.account_type">
          <option value="">全部</option>
        </select>
      </div>
      <hr/>
    </form>
  </div>
</div>


<div class="actionbar clearfix form-group pull-right">
  <div class="pull-right">
    <a class="btn btn-primary" ui-sref="finance.details.new" ng-show="self.rights_check['8_charge_add']">
      <i class="fa fa-plus"></i> 充值加款
    </a>
  </div>
</div>

<tabset>
  <tab select="vm.params.status = 'PASS'" active="vm.tabactive[0]">
    <tab-heading>
      已充值
    </tab-heading>
  </tab>
  <tab select="vm.params.status = 'PENDING'" active="vm.tabactive[1]">
    <tab-heading>
      待充值<sup class="text-danger">{{vm.pNum}}</sup>
    </tab-heading>
  </tab>
  <tab select="vm.params.status = 'CANCEL'" active="vm.tabactive[2]">
    <tab-heading>
      已取消
    </tab-heading>
  </tab>
</tabset>

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>充值编号</th>
        <th>充值时间</th>
        <th>客户名称</th>
        <th>云存储帐号</th>
        <th>负责人</th>
        <th>
          <a ng-click="vm.orderBy('pay')" style="cursor: pointer;">充值金额（元）
          <span class="order-arrow">
            <div class="arrow" ng-class="{actived: vm.params.order_key === 'pay' , up: vm.params.order_key !== 'pay' || vm.params.order_type === 'asc' }"></div>
            <div class="arrow" ng-class="{actived: vm.params.order_key === 'pay',  down: vm.params.order_key !== 'pay' || vm.params.order_type === 'desc' }"></div>
          </span>
        </th>
        <th>
          <a ng-click="vm.orderBy('bonus')" style="cursor: pointer;">返赠金额（元）
          <span class="order-arrow">
            <div class="arrow" ng-class="{actived: vm.params.order_key === 'bonus' , up: vm.params.order_key !== 'bonus' || vm.params.order_type === 'asc' }"></div>
            <div class="arrow" ng-class="{actived: vm.params.order_key === 'bonus',  down: vm.params.order_key !== 'bonus' || vm.params.order_type === 'desc' }"></div>
          </span>
        </th>
        <th>到账金额（元）</th>
        <th>加款折扣率</th>
        <th>充值后余额（元）</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="transData in vm.transData.list">
        <td>{{transData.order_id}}</td>
        <td ng-if="vm.params.status !== 'PASS'">-</td>
        <td ng-if="vm.params.status === 'PASS'">{{transData.pay_time * 1000 | date: 'yyyy-MM-dd HH:mm'}}</td>
        <td>{{transData.client_name}}</td>
        <td>{{transData.account_name}}</td>
        <td>{{transData.user_name}}</td>
        <td>{{transData.pay | number : 2}}</td>
        <td>{{transData.bonus | number : 2}}</td>
        <td>{{transData.money | number : 2}}</td>
        <td>{{transData.pay === transData.money ? '1' : (transData.pay / transData.money | number : 4)}}</td>
        <td ng-if="vm.params.status !== 'PASS'">-</td>
        <td ng-if="vm.params.status === 'PASS'">{{transData.balance | number : 2}}</td>
        <td>
          <a ng-show="vm.params.status === 'PENDING' && self.rights_check['8_recharge_opt']" ui-sref="finance.details.deal({order_id: transData.order_id, status : 'PENDING'})" class="btn btn-xs btn-primary">处理</a>
          <a ng-show="vm.params.status === 'PASS'" ui-sref="finance.details.deal({order_id: transData.order_id, status : 'PASS'})" class="btn btn-xs btn-info">详情</a>
          <a ng-show="vm.params.status === 'CANCEL' && self.rights_check['8_charge_del']" ui-sref="finance.details.deal({order_id: transData.order_id, status : 'CANCEL'})" class="btn btn-xs btn-danger">删除</a>
        </td>
      </tr>
      <tr>
        <td colspan="5" class="text-center">本页合计</td>
        <td>{{vm.pageTatol.pay | number : 2}}</td>
        <td>{{vm.pageTatol.bonus | number : 2}}</td>
        <td>{{vm.pageTatol.money | number : 2}}</td>
        <td> - </td>
        <td colspan="2" ng-if="vm.params.status !== 'PASS'">-</td>
        <td colspan="2" ng-if="vm.params.status === 'PASS'">{{vm.pageTatol.balance | number : 2}}</td>
      </tr>
      <tr>
        <td colspan="5" class="text-center">查询合计</td>
        <td>{{vm.transData.total.pay | number : 2}}</td>
        <td>{{vm.transData.total.bonus | number : 2}}</td>
        <td>{{(vm.transData.total.money | number : 2)}}</td>
        <td> - </td>
        <td colspan="2" ng-if="vm.params.status !== 'PASS'">-</td>
        <td colspan="2" ng-if="vm.params.status === 'PASS'">{{vm.transData.total.balance | number : 2}}</td>
      </tr>
      </tbody>
    </table>

    <nav class="pull-right">
      <pagination total-items="vm.totalItems"
              items-per-page="vm.size"
              ng-model="vm.page_num_to_go"
              max-size="5"
              class="pagination-sm"
              boundary-links="true"
              rotate="false"
              first-text="首页"
              last-text="尾页"
              previous-text="前一页"
              next-text="后一页">
      </pagination>
    </nav>

  </div>
</div>
