<form ng-submit="vm.submit()" class="form-horizontal" name="transactions">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.skip()">&times;</button>
    <h4>账户加款确认</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <p class="form-control-static col-md-offset-1 col-md-10">操作确定加款后，客户账户余额变动情况，如下:</p>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">云存储账号</label>
      <div class="col-sm-8">
        <p class="form-control-static text-warning" style="font-size:1.5em"><strong>{{vm.params.account_name}}</strong></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">到账金额</label>
      <div class="col-sm-8">
        <p class="form-control-static text-danger" style="font-size:1.5em"><strong>{{vm.params.pay | number}} + {{vm.params.bonus | number}} 元</strong></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">加款后余额</label>
      <div class="col-sm-8">
        <p class="form-control-static text-danger" style="font-size:1.5em"><strong>{{(vm.params.pay + vm.params.bonus + vm.balance) | number: 2}} 元</strong></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">支付方式</label>
      <div class="col-sm-8">
        <p class="form-control-static">{{vm.payMap[vm.params.pay_type]}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn btn-sm btn-link" ng-click="vm.skip()">取消</a>
    <button type="submit" class="btn btn-sm btn-primary" ng-disabled="vm.counter > 0 || vm.disableSubmit">确定 <span ng-show="vm.counter > 0">({{vm.counter}})</span></button>
  </div>
</form>