<nav class="navbar navbar-default" role="navigation" ng-controller="navCtrl">
  <div class="navbar-header">
    <a class="navbar-brand" href="" ng-click="reload()" ng-hide="self.info.strange === true">Koala <small>loves you!</small></a>
    <a class="navbar-brand" href="" ng-click="reload()" ng-show="self.info.strange === true">UPYUN | CRM </a>
  </div>
  <div class="container-fluid" ng-include="'app/layout/global_nav.html'">
  </div>
</nav>

<div class="main no-sb" ui-view="main">

</div>
<div id="history" ui-view="changelog"></div>