<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="skip()">&times;</button>
  <h4>开票订单记录查询</h4>
</div>
<div class="modal-body">
  <form ng-submit="searchInvoiceStatus()" class="form-horizontal">
    <div class="form-group col-sm-2">
      <h4>订单号</h4>
    </div>
    <div class="form-group col-sm-7">
      <input type="text" class="form-control" placeholder="" ng-model="params.order_number">
    </div>
    <input type="submit" class="btn btn-default" value="查询">
  </form>
  <br>
  <ul>
    <li ng-repeat="result in searchResultArr">
      <span ng-switch="result.status">
        <p class="bg-warning" ng-switch-when="INIT">订单号{{result.order_number}}未开票</p>
        <p class="bg-info" ng-switch-when="OPEN">订单号{{result.order_number}}开票中</p>
        <p class="bg-primary" ng-switch-when="FINISH">订单号{{result.order_number}}已开票，开票日期{{result.invoice_date * 1000 | date: 'yyyy-MM-dd'}}</p>
        <p class="bg-danger" ng-switch-default>未查询到订单号{{result.order_number}}开票信息</p>
      </span>
    </li>
  </ul>
</div>
